@{
    var userName = User?.Identity?.Name ?? "User";
}

<div class="header-wrap">
    <div class="header-left">
        <div class="breadcrumb">
            <span class="crumb">Dashboard</span>
            <span class="sep">/</span>
            <span class="crumb-current">@ViewData["Title"]</span>
        </div>
    </div>
    <div class="header-right">
        <form method="get" class="search-box" action="#">
            <input class="search-input" name="q" placeholder="Tìm kiếm..." />
        </form>
        <button class="icon-btn" title="Thông báo">🔔</button>
        <div class="user-chip" title="@userName">
            <div class="avatar">@userName.Substring(0,1).ToUpper()</div>
            <span class="name">@userName</span>
        </div>
    </div>
</div>




